<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Most Popular Posts</title>
    <style>
        .banner-image {
          background-image: url('../static/images/shubham-dhage-sTjJYqHI1Ds-unsplash.jpg');
          background-size: cover;
        }
      </style>
</head>
<body>
    
    <!-- Navbar  -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
          <a class="navbar-brand" href="#">Web Zone</a>
          <button
            style="border: none;"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
      <!-- Banner Image  -->
      <div
        class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
      >
        <div class="content text-center">
          <h1 class="text-white">WEB ZONE</h1>
        </div>
      </div>

      
      <div class="container my-5 d-grid gap-5">
        <div class="p-5 border">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
            natus iusto fugit id saepe neque rerum magni laudantium accusantium
            dolorem numquam quasi.
          </p>
        </div>
        <div class="p-5 border">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
            natus iusto fugit id saepe neque rerum magni laudantium accusantium
            dolorem numquam quasi.
          </p>
        </div>
        <div class="p-5 border">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
            natus iusto fugit id saepe neque rerum magni laudantium accusantium
            dolorem numquam quasi.
          </p>
        </div>
        <div class="p-5 border">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
            natus iusto fugit id saepe neque rerum magni laudantium accusantium
            dolorem numquam quasi.
          </p>
        </div>
        <div class="p-5 border">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
            natus iusto fugit id saepe neque rerum magni laudantium accusantium
            dolorem numquam quasi. df
          </p>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var nav = document.querySelector('nav');
  
        window.addEventListener('scroll', function () {
          if (window.pageYOffset > 500) {
            nav.classList.add('bg-dark', 'shadow');
          } else {
            nav.classList.remove('bg-dark', 'shadow');
          }
        });
      </script>
</body>
</html>